<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <context-param>
        <param-name>initParam</param-name>
        <param-value>imooc</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>hello servlet</servlet-name>
        <servlet-class>com.dorothy.servlet.FirstServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>hello servlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>com.dorothy.servlet.SessionAndCookie</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <!--设置Session的过期时间-->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>


    <!--Filter注册配置-->
    <filter>
        <filter-name>firstFilter</filter-name>
        <filter-class>com.dorothy.filter.FirstFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>firstFilter</filter-name>
        <!--设置要拦截的servlet名字，可以设置多个-->
        <servlet-name>hello servlet</servlet-name>
        <!--设置Filter要拦截的资源被Servlet调用的方式，默认是REQUEST-->
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!--Listener注册配置-->
    <listener>
        <listener-class>com.dorothy.listener.FirstListener</listener-class>
    </listener>

    <!--sessionListener注册-->
    <listener>
        <listener-class>com.dorothy.listener.MyHttpSessionlistener</listener-class>
    </listener>
</web-app>